<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
<code>
<div>{{title}}</div>
<br/>
<div>{{service}}  -  {{url}}  -  {{status}} - {{details}} in {{latencyms|floatformat:2}}ms</div>
<div>
last {{probes|length}} probes:
  {% for pb in probes reversed %}
<span class='probe' title='{{pb.time|date:"Y-m-d H:i:s"}}'>{{pb.status}}</span>
  {% endfor %}
</div>
</code>

<br/>
<div>
 <code class="help latency" style="font-size:small; visibility:hidden">
  <ul>
   <li>latency is the sum of time of App Engine making request and remote server sending reply
   <li>source code is available from
    <a href="http://code.google.com/p/pydotorg/source/checkout?repo=status">pydotorg project</a> on Google Code
  </ul>
  </code>
</div>

</body>
</html>
